<!DOCTYPE html>
<html>
<head>
  <title>Vue Practice</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styles.css">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
</head>
<body>
  <div id="app">
    <h2>Enter Text Below</h2>
    <input v-model="message_input"></input>
    <p v-if="message">You Typed: <span v-bind:class="text_class">{{ message }}</span></p>
    <p v-if="message">Capitalized: <span v-bind:class="text_class">{{ message_caps }}</span></p>

    <h2>This Button Changes The Message Color When Clicked</h2>
    <button v-on:click="to_red">Red Text</button>
    <button v-on:click="to_black">Black Text</button>

    <h2>This Radio Button Toggles Text Visibility</h2>
    <input type="checkbox" v-model="visib_flag">Show Text?</input>
    <p v-if="visib_flag">This is secret text!</p>
  </div>
   <script src="prog.js"></script>
</body>
</html>
