<!DOCTYPE html>
<html>
<head>
  <title>Project Yacht - Leaderboard</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
</head>
<body>
  <div id=header>
    <div id=siteNav>
      <a href="index.html"><i class="fas fa-home"></i>  Home</a>
      <a href="game.html"><i class="fas fa-dice"></i>  Game</a>
      <a href="leaderboard.html"><i class="fas fa-chalkboard"></i>  Leaderboard</a>
    </div>
    <div id=ghub>
      <a id=ghub href="https://github.com/gbwilhelm/yacht"><i class="fab fa-github"></i>  Source Code</a>
    </div>
  </div>
  <div id="leaderboard">
    <h1><span class=underline>Yacht Leaderboard</span></h1>
    <!--Could add functionallity that shows the player's full scorecard to right on hover-->
    <table v-if="entries.length>0">
      <tr>
        <th><div class=colHead>Name</div></th>
        <th><div class=colHead>Game Title</div></th>
        <th><div class=colHead>Score</div></th>
        <th><div class=colHead>Comment</div></th>
      </tr>
      <tr v-for="entry in entries">
        <td><div class=col>{{entry.name.S}}</div></td>
        <td><div class=col>{{entry.title.S}}</div></td>
        <td><div class=col>{{entry.total.N}}</div></td>
        <td v-if="entry.public.BOOL && entry.comment.S"><div class="col">{{entry.comment.S}}</div></td>
        <td v-else><div class="col">---</div></td>
      </tr>
    </table>
    <p v-else>No entries found</p>
  </div>
  <script src="leaderboard.js" type="module"></script>
</body>
</html>
