<!DOCTYPE html>
<html>
<head>
  <title>Project Yacht - Game</title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap" rel="stylesheet">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <script src="game.js" defer></script>
</head>
<body>
  <div id=header>
    <div id=siteNav>
      <a href="index.html"><i class="fas fa-home"></i>  Home</a>
      <a href="game.html"><i class="fas fa-gamepad"></i>  Game</a>
      <a href="leaderboard.html"><i class="fas fa-chalkboard"></i>  Leaderboard</a>
    </div>
    <div id=ghub>
      <button id=rulesNav onclick="toggleRules()"><i class="fas fa-caret-down" id=rulesHeaderIcon></i></i>  Rules</button>
      <a id=ghub href="https://github.com/gbwilhelm/yacht"><i class="fab fa-github"></i>  Source Code</a>
    </div>
  </div>
  <div id=rulesArea>
    <div id=rules v-if="showRules">
      <h1>Rules of Yacht</h1>
      <p>Rules will go here</p>
    </div>
  </div>
  <div id=gameTitle>
    <h1 id=gameTitle>Yacht Game</h1>
  </div>
  <div id="game">
    <div id=gameArea>
      <p>GameState: <strong>{{gameState}}</strong> | GameComponent: <strong>{{gameComponent}}</strong></p>
      <p v-if="roundNumber>0">Round Number: <strong>{{roundNumber}}</strong> | Roll Number: <strong>{{rollNumber}}</strong></p>
      <br>
      <component v-bind:is="gameComponent" v-on:start-game="startGame" v-on:end-game="gameEnd"
      v-on:restart-game="saveGame" v-on:roll-confirmed="rollConfirmed"></component>
    </div>
  </div>
</body>
</html>
